.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #ff6347;
    color: white;
  }
  
  .view-all-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-all-button:hover {
    background-color: #ff4500;
  }

  
  